.root {
  -post-align: top left;
  -post-box: defaultv center;
  -post-size: 100%;
  overflow: hidden;
  cursor: default;
}

.canvas {
  -post-align: top left;
  -post-size: 100%;
  overflow: hidden;
  cursor: default;
}
