.root {
  -post-padding: 24px;
  padding-right: max(24px, env(safe-area-inset-right));
  padding-bottom: max(24px, env(safe-area-inset-bottom));
}

.nav {
  @post flex(right, center);
}

.button {
  -post-size: 20px;
  -post-transition: all 100ms ease-out;

  &:hover {
    opacity: .6;
  }
}
