.root {
  -post-align: bottom left fixed;
  -post-padding: 0 5%;
  -post-size: 100% 50px;
  -post-box: default left center;
  border-top: 1px solid rgba(#fff, .1);
  z-index: 10;
}

.nav {
  -post-box: default right center;
  flex-grow: 1;
}

.monogram {
  -post-box: default;
  -post-size: auto 20px;
  -post-transition: opacity .2s ease-out;

  & svg {
    -post-size: auto 100%;
  }

  &:hover {
    opacity: .6;
  }
}

.github-button {
  -post-size: 20px;
  -post-transition: all .2s ease-out;
  background: url(@/assets/images/github-icon.svg) center / 100% no-repeat;
  display: block;

  &:hover {
    opacity: .6;
  }
}
