.root {
  -post-align: top left fixed;
  -post-padding: 0 5%;
  -post-size: 100% 70px;
  -post-box: default right center;
  z-index: 10;
}

.link {
  -post-transition: all .2s ease-out;
  font-family: Roboto, sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: .8em;
  cursor: pointer;
  text-transform: uppercase;

  &:not(:last-child) {
    -post-margin: _ 20px _ _;
  }

  &:hover {
    opacity: .6;
  }
}
