.root {
  @post flex;

  -post-padding: 10%;

  & main {
    @post flex(vertical);

    -post-size: 100% auto;
    -post-max-size: 700px _;
  }
}

.background {
  -post-align: top left;
  -post-size: 100%;
  background: #111;
  opacity: .9;
}

.title {
  -post-margin: _ _ 30px;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.option {
  -post-size: 100px auto;
  font-size: 18px;
  color: #fff;
  text-align: right;
  letter-spacing: 0;
  text-transform: uppercase;
}

.columns {
  @post flex(vertical, center);

  @media (min-width: 640px) {
    @post flex(center);
  }
}

.row {
  @post flex(left, center);

  -post-margin: 0 _;

  &:not(:first-child) {
    -post-margin: 10px _;
  }
}

.select {
  @post flex;

  -post-size: 130px 36px;
  -post-margin: _ _ _ 20px;
  -post-padding: _ 10px;
  -post-transition: background 160ms ease-out;
  appearance: none;
  background: #000;
  color: #fff;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;

  &:hover {
    background: #ccc;
  }
}

.actions {
  @post flex;

  button {
    -post-padding: 10px 20px;
    -post-margin: 2em .5em _;
    -post-transition: background 160ms ease-out;
    background: #fff;
    border-radius: 8px;
    color: #000;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
      background: #ccc;
    }
  }
}

.footer {
  @post flex(left, center);

  -post-align: bottom left;
  -post-padding: 24px;
  justify-content: space-between;
  width: 100%;
  padding-left: max(24px, env(safe-area-inset-left));
  padding-right: max(24px, env(safe-area-inset-right));
  padding-bottom: max(24px, env(safe-area-inset-bottom));
}

.monogram {
  @post flex;

  -post-size: auto 20px;
  -post-transition: opacity 160ms ease-out;
  position: relative;

  & svg {
    -post-size: auto 100%;
  }

  &:hover {
    opacity: .8;
  }

  &:after {
    -post-size: 60px 40px;
    -post-align: top left;
    content: '';
    transform: translate3d(calc(-50% + 17px), calc(-50% + 10px), 0);
  }
}

.button {
  -post-size: 20px;
  -post-transition: all 160ms ease-out;
  position: relative;

  & svg {
    -post-size: 100%;
  }

  &:hover {
    opacity: .8;
  }

  &:after {
    -post-size: 40px;
    -post-align: top left;
    content: '';
    transform: translate3d(calc(-50% + 10px), calc(-50% + 10px), 0);
  }
}

.request-button {
  -post-margin: 2em _ _;
  -post-transition: opacity 160ms ease-out;
  font-size: 14px;
  color: #fff;
  height: 40px;

  &:hover {
    opacity: .8;
  }
}

.request-status {
  -post-margin: 2em _ _;
  font-size: 14px;
  color: #fff;
  max-width: 400px;
  text-align: center;
  line-height: 150%;
}
