.root {
  @post flex;

  -post-padding: 10%;

  & main {
    -post-size: 100% auto;
    -post-max-size: 700px _;
  }
}

.background {
  -post-align: top left;
  -post-size: 100%;
  background: #111;
  opacity: .8;
}

.done-button {
  -post-padding: 12px 34px;
  -post-margin: 2em _ _;
  -post-transition: background 100ms ease-out;
  background: #fff;
  border-radius: 8px;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;

  & svg {
    -post-size: 100%;
    fill: #fff;
  }

  &:hover {
    background: #ccc;
  }
}

.title {
  -post-margin: _ _ 30px;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.option {
  -post-size: 130px auto;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: right;
  letter-spacing: 0;
  text-transform: uppercase;
}

.columns {
  @post flex(vertical, left, center);

  @media (min-width: 640px) {
    @post flex(left, center);
  }
}

.row {
  @post flex(left, center);

  -post-margin: 0 _;

  &:not(:first-child) {
    -post-margin: 10px _;
  }
}

.select {
  @post flex;

  -post-size: 130px 36px;
  -post-margin: _ _ _ 20px;
  -post-padding: _ 10px;
  -post-transition: background 100ms ease-out;
  appearance: none;
  background: #fff;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  text-align: center;

  &:hover {
    background: #ccc;
  }
}

.actions {
  @post flex;
}

.footer {
  @post flex(left, center);

  -post-align: bottom left;
  -post-padding: 24px;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-left: max(24px, env(safe-area-inset-left));
  padding-right: max(24px, env(safe-area-inset-right));
  padding-bottom: max(24px, env(safe-area-inset-bottom));
}

.monogram {
  @post flex;

  -post-size: auto 20px;
  -post-transition: opacity 100ms ease-out;

  & svg {
    -post-size: auto 100%;
  }

  &:hover {
    opacity: .6;
  }
}

.button {
  -post-size: 20px;
  -post-transition: all 100ms ease-out;
  background: transparent;
  display: block;

  & svg {
    -post-size: 100%;
  }

  &:hover {
    opacity: .6;
  }
}
