@post normalize;

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}

html {
  height: calc(100% + env(safe-area-inset-top));
}

body {
  background: #111;
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

:global(#app) {
  -post-size: 100%;
}

.root {
  @post flex(vertical, center);

  -post-align: top left;
  -post-size: 100%;
  cursor: default;
  user-select: none;
}

.scene {
  -post-align: top left;
  -post-size: 100%;
  cursor: default;
}

.settings {
  -post-align: top left fixed;
  -post-size: 100%;
  -post-transition: all 160ms ease-out;
  opacity: 0;
  pointer-events: none;
  transform: scale3d(1.4, 1.4, 1.4);
  z-index: 20;

  &:global(.active) {
    opacity: 1;
    pointer-events: auto;
    transform: scale3d(1, 1, 1);
  }
}

.footer {
  -post-align: bottom left fixed;
  -post-size: 100% auto;
  z-index: 10;
}
