@post normalize;

html {
  height: calc(100% + env(safe-area-inset-top));
}

body {
  overflow: hidden;
  background: #111;
}

:global(#app) {
  -post-size: 100%;
}

.root {
  @post flex(vertical, center);

  -post-align: top left;
  -post-size: 100%;
  cursor: default;
}

.scene {
  -post-align: top left;
  -post-size: 100%;
  cursor: default;
}

.settings {
  -post-align: top left fixed;
  -post-size: 100%;
  -post-transition: all .2s ease-out;
  opacity: 0;
  pointer-events: none;
  transform: scale3d(1.4, 1.4, 1.4);
  z-index: 20;

  &--reveal {
    opacity: 1;
    pointer-events: auto;
    transform: scale3d(1, 1, 1);
  }
}

.footer {
  -post-align: bottom left fixed;
  -post-size: 100% auto;
  z-index: 10;
}
